<br>
<h3>Investors</h3>

<div id="investors" style="margin-top: 20px;">
  <table class="dashboard-table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let investor of investors">
      <td>{{investor.id}}</td>
      <td><a routerLink="/investor/{{investor.id}}">{{investor.name}}</a></td>
      <td>{{investor.description}}</td>
      <td>
        <button (click)="showCrudMenu(investor)" type="button" class="btn btn-primary btn-sm"><i class="fa fa-edit" aria-hidden="true"></i></button>
        <button (click)="deleteInvestor(investor)" type="button" class="btn btn-primary btn-sm" ><i class="fa fa-trash" aria-hidden="true"></i></button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div style="margin: 10px">
  <button (click)="showCrudMenu(null)" type="button" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="right" title="Add new investor"><i class="fa fa-plus" aria-hidden="true"></i></button>
</div>
