<br>
<h3>Clients</h3>

<div id="clients" style="margin-top: 20px;">
  <table class="dashboard-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients">
        <td>{{client.id}}</td>
        <td><a routerLink="/client/{{client.id}}">{{client.name}}</a></td>
        <td>{{client.description}}</td>
        <td>
          <button (click)="crudClientMenu(client)" type="button" class="btn btn-primary btn-sm"><i class="fa fa-edit" aria-hidden="true"></i></button>
          <button (click)="deleteClient(client)" type="button" class="btn btn-primary btn-sm" ><i class="fa fa-trash" aria-hidden="true"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div style="margin: 10px">
  <button (click)="crudClientMenu(null)" type="button" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="right" title="Add new client"><i class="fa fa-plus" aria-hidden="true"></i></button>
</div>
