<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">
    <span *ngIf="entity.name">Edit {{entity.name}}</span>
    <span *ngIf="!entity.name">Add new</span>
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="col-md-12">
    <div class="col-md-3">
      <label>Name:
        <input [(ngModel)]="entity.name" placeholder="Name"/>
      </label>
    </div>
    <div class="col-md-3">
      <label>Description:
        <input [(ngModel)]="entity.description" placeholder="Description"/>
      </label>
    </div>
  </div>
  <button (click)="save()" type="submit" class="btn btn-primary mx-2">Save</button>
  <button (click)="activeModal.dismiss('Cross click')" type="button" class="btn btn-outline-primary mx-2">Cancel</button>
</div>
