<h1 style="text-align: center">{{ title }}!</h1>
<nav class="nav">
  <a class="nav-link" routerLink="/clients">Clients</a>
  <a class="nav-link" routerLink="/investors">Investors</a>
  <a class="nav-link" routerLink="/funds">Funds</a>
</nav>
<router-outlet></router-outlet>

