<br>
<div *ngIf="client">
  <h3>{{client.name}} details <i (click)="editMode = true" class="fa fa-edit fa-sm" aria-hidden="true"></i></h3>
  <div class="col-md-12">
    <div class="col-md-3">
      <label>Name:
        <input [(ngModel)]="client.name" placeholder="Client name" [disabled]="!editMode"/>
      </label>
    </div>
    <div class="col-md-3">
      <label>Description:
        <input [(ngModel)]="client.description" placeholder="Client description" [disabled]="!editMode"/>
      </label>
    </div>
  </div>
</div>
<div class="btn-toolbar" *ngIf="editMode">
  <button (click)="save(); editMode = false" class="btn btn-sm btn-primary mx-2" type="button">Update</button>
  <button (click)="editMode = false" class="btn btn-sm btn-outline-primary mx-2">Cancel</button>
</div>
<br>
<h3>Represented investors</h3>
<div id="investors" style="margin-top: 20px;">
  <table class="dashboard-table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let investor of investors">
      <td>{{investor.id}}</td>
      <td><a routerLink="/investor/{{investor.id}}">{{investor.name}}</a></td>
      <td>{{investor.description}}</td>
    </tr>
    </tbody>
  </table>
</div>
<div style="margin: 10px">
  <button (click)="addInvestorMenu()" type="button" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="right" title="Add Investor for client"><i class="fa fa-plus" aria-hidden="true"></i></button>
</div>
<div *ngIf="availableInvestors">
  <select (change)="addInvestorForClient($event.target.value)">
    <option value="0">--Select investor--</option>
    <option *ngFor="let availableInvestor of availableInvestors" value={{availableInvestor.id}}>
      {{availableInvestor.name}}
    </option>
  </select>
</div>

<button (click)="goBack()" class="btn btn-outline-primary btn-sm">go back</button>
