/* Application-wide Styles */
@import '~bootstrap/dist/css/bootstrap.min.css';

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[type="text"], button {
  color: #888;
  font-family: Cambria, Georgia;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

.dashboard-table {
  width: 90%;
  margin: 10px;
}

.dashboard-table thead th {
  border: 1px solid #EEE;
  background: #ffffff;
}

.dashboard-table tbody td:nth-child(1) {
  width: 5%;
  background: #607D8B;
  color: white;

}

.dashboard-table tbody td:nth-child(2) {
  width: 40%;
}

.dashboard-table tbody td:nth-child(3) {
  width: 45%;
}

.dashboard-table tr:nth-child(odd) {
  background-color: #EEE;
}
