<br>
<div *ngIf="investor">
  <h3>{{investor.name}} details <i (click)="editMode = true" class="fa fa-edit fa-sm" aria-hidden="true"></i></h3>
  <div class="col-md-12">
    <div class="col-md-3">
      <label>Name:
        <input [(ngModel)]="investor.name" placeholder="Investor name" [disabled]="!editMode"/>
      </label>
    </div>
    <div class="col-md-3">
      <label>Description:
        <input [(ngModel)]="investor.description" placeholder="Investor description" [disabled]="!editMode"/>
      </label>
    </div>
  </div>
</div>
<div class="btn-toolbar" *ngIf="editMode">
  <button (click)="save(); editMode = false" class="btn btn-sm btn-primary mx-2" type="button">Update</button>
  <button (click)="editMode = false" class="btn btn-sm btn-outline-primary mx-2">Cancel</button>
</div>
<br>
<h3>Managed funds</h3>
<div id="funds" style="margin-top: 20px;">
  <table class="dashboard-table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Managed $</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let fund of funds">
      <td>{{fund.id}}</td>
      <td><a routerLink="/funds">{{fund.name}}</a></td>
      <td>{{fund.description}}</td>
      <td style="float: right;">{{fund.totalFundAmount | currency}}</td>
    </tr>
    </tbody>
  </table>
</div>

<button (click)="location.back();" class="btn btn-outline-primary btn-sm">go back</button>
